* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: Montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #fff;
  line-height: 1.5;
  color: #333;
}

input {
  padding: 8px;
  font: inherit;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
.timer {
  display: flex;
  gap: 30px;
  font-size: 25px;
}
input {
  margin-bottom: 30px;
}
a {
  display: block;
  color: inherit;
  margin-bottom: 30px;
}
button {
  cursor: pointer;
  border: none;
  background-color: rgb(116, 116, 220);
  border-radius: 6px;
  font-family: inherit;
  font-size: inherit;
  padding: 15px;
  color: #fff;
}

button:disabled {
  background-color: #c2bebe;
}
